
 <ul class="nav nav-tabs nav-justified md-tabs indigo mt-5 mb-5" >
    
    <li class="nav-item">
        <a routerLink = "/add" class="nav-link" routerLinkActive="active"  data-toggle="tab" >Add</a>
    </li>
    <li class="nav-item">
        <a routerLink = "/search" class="nav-link" routerLinkActive="active"  data-toggle="tab" >Search</a>
    </li>
    <li class="nav-item">
        <a routerLink = "/listall" class="nav-link" routerLinkActive="active"  data-toggle="tab">List All</a>
    </li>
    <li class="nav-item">
        <a routerLink = "/delete" class="nav-link" routerLinkActive="active"  data-toggle="tab">Delete</a>
    </li>
    
</ul>